apiVersion: v1
kind: List
items:
- kind: Subscription
  apiVersion: operators.coreos.com/v1alpha1
  metadata:
    name: {{ fileintegrity_name }}
    namespace: {{ fileintegrity_namespace }}
  spec:
    channel: "{{ fileintegrity_subscription_channel }}"
    installPlanApproval: Automatic
    name: {{ fileintegrity_name }}
    source: redhat-operators
    sourceNamespace: openshift-marketplace
