apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ etcd_backup_configmap }}"
  namespace: "{{ etcd_backup_namespace }}"
data:
  etcd-backup.sh: {{ lookup('template', 'etcd-backup.sh.j2') | to_json }}
  etcd-snapshot-backup-disconnected.sh: {{ lookup('file', 'backup_script.sh' ) | to_json }}
  
