apiVersion: v1
kind: List
items:

- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    name: deploy
    namespace: {{ item }}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: {{ scc_config.scc.name }}
  subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ item }}
