apiVersion: v1
kind: List
items:

- kind: ConfigMap
  metadata:
    name: ldap-group-sync-config
    namespace: "{{ operation_namespace }}"
  apiVersion: v1
  data:
    ldap-sync.yml: |
      kind: LDAPSyncConfig
      apiVersion: v1
      url: "{{ ldap_url }}"
      insecure: false
      bindDN: "{{ ldap_bind_dn }}"
      bindPassword: "{{ ldap_bind_password }}"
      ca: /etc/config/ca/ca.crt
      augmentedActiveDirectory:
        groupsQuery:
          derefAliases: never
          pageSize: 0
        groupUIDAttribute:  dn
        groupNameAttributes: [ cn ]
        usersQuery:
          baseDN: "{{ ldap_base_dn }}"
          scope: sub
          derefAliases: never
          filter: "(objectclass=person)"
          pageSize: 0
        userNameAttributes: [ uid ]
        groupMembershipAttributes: [ memberOf ]

- kind: ConfigMap
  apiVersion: v1
  metadata:
    name: ldap-group-sync-whitelist
    namespace: "{{ operation_namespace }}"
  data:
    # Jinja2 syntax needed to properly split variable on newlines
    # There is probably a nicer way to do this
    ldap-group-sync-whitelist.txt: |
      {% for line in ldap_group_sync_whitelist.splitlines() %}
      {{ line }}
      {% endfor %}

- kind: CronJob
  apiVersion: batch/v1beta1
  metadata:
    name: ldap-group-sync
    namespace: "{{ operation_namespace }}"
  spec:
    schedule: "*/5 * * * *"
    concurrencyPolicy: Forbid
    successfulJobsHistoryLimit: 1
    failedJobsHistoryLimit: 3
    jobTemplate:
      spec:
        template:
          spec:
            containers:
            - name: ldap-group-sync
              image: registry.redhat.io/openshift4/ose-cli:latest
              command:
              - "/bin/bash"
              - "-c"
              - "oc adm groups sync
                --confirm
                --sync-config=/etc/config/ldap-group-sync.yaml
                --whitelist=/etc/config/whitelist/ldap-group-whitelist.txt"
              volumeMounts:
              - mountPath: /etc/config
                name: ldap-sync-volume
              - mountPath: /etc/config/whitelist
                name: ldap-group-sync-whitelist-volume
              - mountPath: /etc/config/ca
                name: ldap-ca-volume
            volumes:
            - configMap:
                items:
                - key: ldap-sync.yml
                  path: ldap-group-sync.yaml
                name: ldap-group-sync-config
              name: ldap-sync-volume
            - configMap:
                items:
                - key: ldap-group-sync-whitelist.txt
                  path: ldap-group-whitelist.txt
                name: ldap-group-sync-whitelist
              name: ldap-group-sync-whitelist-volume
            - configMap:
                items:
                - key: ca.crt
                  path: ca.crt
                name: ldap-ca
              name: ldap-ca-volume
            restartPolicy: OnFailure
            terminationGracePeriodSeconds: 30
            activeDeadlineSeconds: 500
            startingDeadlineSeconds: 10
            serviceAccountName: ldap-group-sync

- kind: ClusterRole
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: ldap-group-sync
  rules:
  - apiGroups:
    - user.openshift.io
    resources:
    - groups
    verbs:
    - get
    - list
    - create
    - update

- kind: ClusterRoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: ldap-group-sync
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: ldap-group-sync
  subjects:
  - kind: ServiceAccount
    name: ldap-group-sync
    namespace: "{{ operation_namespace }}"

- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: ldap-group-sync
    namespace: "{{ operation_namespace }}"
