kind: Secret
apiVersion: v1
metadata: 
  name: {{ cluster_name }}-{{ item.name }}-secret
  namespace: {{ item.namespace }}
data: 
  tls.crt: >- 
    {{ item.ca_chain }}
  tls.key: >- 
    {{ item.key }}
type: kubernetes.io/tls
