HWADDR={{ additional_nic_mac_worker2 }}
TYPE={{ additional_nic_type }}
BOOTPROTO={{ additional_nic_bootprotocol }}
IPADDR={{ additional_nic_ip_worker2 }}
PREFIX={{ additional_nic_subnetmask }}
ONBOOT={{ additional_nic_onboot }}